:root{
    --logo-tipo:'Poppins', sans-serif;
    --montserrat:'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ////// Desktop none - Mobile block */
.desktop{
    display: block;
}
.mobile{
    display: none;
}




/* /////////////////////// Navbar */
.header{
    width: 100%;
}
.navbar{
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding: 0;
}
.navbar_container{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    box-shadow: 0px 3px 7px 0px rgb(198 198 198 / 75%);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
}
.navbar-toggler{
    border: none;
    font-size: 1rem;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     padding: 0;
 }
 .logo_icon{
     width: 200px;
     height: auto;
 }
 .navbar-nav{
     position: relative;
 }
.nav-item{
    margin-left: 10px;
    position: relative;
}

.nav-link{
    font-family: var(--montserrat);
    font-weight: 400;
    color: #000 !important;
}
.nav-link:hover{
    font-weight: 500;
}
.active{
    font-weight: 500;
}

/* ///////////////////////////// About */

.about_container{
    height: 100vh;
    margin-top: 2rem;
}
.about_row{
    height: 100%;
    margin: 0;
}
.about_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_title{
    width: 100%;
}
.about_text-p{
    text-align: justify;
}

/* ///////////////////////////// Contact */
.button_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.enlace_button{
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.button_container-text{
    width: 150px;
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 1.1em;
}
.button_container-text:focus{
    outline: none;
    box-shadow: none;
}
.button_container-iconContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    color: #000;
    width: 60px;
    height: 50px;
    transition: 0.5s;
}
.button_container-iconContainer:hover{
    color: #fff;
}
.button_container-iconContainer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background: #000;
    border-radius:50%;
    z-index: -1; 
    transform: scale(0);
    transition: 0.5s;
}
.button_container-iconContainer:hover:before{
    transform: scale(1);
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}


/* /////////////////////////// Footer */
.footer{
    position: relative;
}
.about_copy{
    width: 100%;
    margin: 0;
}

.about_copy-text{
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: .8em;
    line-height: 1.6em;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #333;
}


/*  copy blue producciones */
.blue_container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}
.blue_container a{
text-decoration: none;
}
.blue_text{
    background: #F3F1F5;
    color: #7F7C82;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.13),
    -5px -5px 5px 0px rgba(255, 255, 255, 0.68);
    transition: all 0.2s ease-in-out ;
}
.blue_text:hover{
    background: #091353;
    color: #B2F9FC;
}



/* =================================================== Media Queries */
@media only screen and (min-width: 768px){
    .navbar_container{
        padding: 0 3rem;
    }
}
@media screen and (max-width: 992px){

    /* ////// Desktop none - Mobile block */
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    
    .navbar{
        margin-top: -1px;
    }
    .navbar-toggler{
        padding: 0;
    }
    .logo_icon {
        width: 140px;
    }
    .about_container{
        height: auto;
    }
    .about_img{
        margin: 2rem 0;
        padding: 0;
    }
    .button_container{
        margin: 1.5rem 0;
        flex-direction: column;
        align-items: center;
    }
    .button_container-text{
        width: 100%;
        margin-bottom: 1rem;
    }
    .blue_text{
        font-size: .7em;
    }

  

}
@media screen and (max-width: 500px){
    .about_copy-text{
        font-size: .6em;
    }
}




















