:root{
    --logo-tipo:'Poppins', sans-serif;
    --montserrat:'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////// Desktop none - Mobile block */
.desktop{
    display: block;
}
.mobile{
    display: none;
}


/* /////////////////////// Navbar */
.header{
    width: 100%;
}
.navbar{
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding: 0;
}
.navbar_container{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    box-shadow: 0px 3px 7px 0px rgb(198 198 198 / 75%);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
}
.navbar-toggler{
    border: none;
    font-size: 1rem;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     padding: 0;
 }
 .logo_icon{
     width: 200px;
     height: auto;
 }
.nav-item{
    margin-left: 10px;
}
.nav-link{
    font-family: var(--montserrat);
    font-weight: 400;
    color: #000 !important;
}
.text_sigueme-ig{
    font-family: var(--montserrat) !important;
    font-weight: 400 !important;
}

/* ==================  Gallery Press */
.gallery_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 3rem;
}
.image_container{
    position: relative;
    /* width: 400px;
    height: 400px; */
    margin-bottom: 2rem;
    cursor: pointer;
}
.image_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    font-family: var(--montserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image_overlay-solid{
    background: #fff;
}
.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image_overlay:hover{
    opacity: 1;
}
.image_overlay:hover > *{
    transform: translateY(0);
}
.image_title{
    font-size: 1.5em;
    font-weight: 400;
}

/* ========== Footer */
.about_copy-text{
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 1em;
}





/* =========================================== Media Queries ============================= */

@media screen and (max-width: 992px){

    /* ////// Desktop none - Mobile block */
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

    .logo_icon {
        width: 140px;
    }
    .gallery_container{
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 768px){
    .clarinArq{
        margin-bottom: 2.2rem;
    }
}

@media screen and (max-width: 500px){
    .gallery_container{
        margin: 2rem 0 0;
    }
    .about_copy-text{
        font-size: .8em;
    }
}