:root{
    --logo-tipo:'Poppins', sans-serif;
    --montserrat:'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////// Desktop none - Mobile block */
.desktop{
    display: block;
}
.mobile{
    display: none;
}


/* /////////////////////// Navbar */
.header{
    width: 100%;
}
.navbar{
    z-index: 1000;
    width: 100%;
    height: 50px;
    padding: 0;
}
.navbar_container{
    background: #fff;
}
.navbar-toggler{
    border: none;
    font-size: 1rem;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     padding: 0;
 }
 .logo_icon{
     width: 200px;
     height: auto;
 }
.nav-item{
    margin-left: 10px;
}
.nav-link{
    font-family: var(--montserrat);
    font-weight: 400;
    color: #000 !important;
}


/* //////////////////////  Gallery */
.gallery_container{
    margin: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "gallery1 gallery2"
    "gallery3 gallery4"
    ;
    gap: 20px;
}

.image_container{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    border: 2px;

}
.image_img{
    display: block;
    width: 100%;
    /* height: 300px; */
    object-fit: cover;
    object-position: center;
}
.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    font-family: var(--montserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image_overlay-solid{
    background: #fff;
}
.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image_overlay:hover{
    opacity: 1;
}
.image_overlay:hover > *{
    transform: translateY(0);
}
.image_title{
    font-size: 1.5em;
    font-weight: 400;
}


/* ========== Footer */
.about_copy-text{
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 1em;
}



/* ========================== Media Queries */
@media screen and (max-width: 992px){

    /* ////// Desktop none - Mobile block */
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .logo_icon {
        width: 140px;
    }
}

@media screen and (max-width: 768px){
    .gallery_container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "gallery1"
        "gallery2"
        "gallery3"
        "gallery4"
        ;
    }
}
@media screen and (max-width: 500px){
    .about_copy-text{
        font-size: .8em;
    }
}

