:root{
    --logo-tipo:'Poppins', sans-serif;
    --montserrat:'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////// Desktop none - Mobile block */
.desktop{
    display: block;
}
.mobile{
    display: none;
}


/* /////////////////////// Navbar */
.header{
    width: 100%;
}
.navbar{
    z-index: 1000;
    width: 100%;
    height: 50px;
    padding: 0;
}
.navbar_container{
    background: #fff;
}
.navbar-toggler{
    border: none;
    font-size: 1rem;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.logo{
    font-family:var(--logo-tipo);
    font-weight: 700;
    font-size: 26px;
    color: #000;
}
.nav-item{
    margin-left: 10px;
}
.nav-link{
    font-family: var(--montserrat);
    font-weight: 400;
    color: #000 !important;
}


/* //////////////////////  Gallery */
.gallery_container{
    margin: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "gallery1 gallery2"
    "gallery3 gallery4"
    ;
    gap: 20px;
}

.gallery_img1, .gallery_img2, .gallery_img3, .gallery_img4{
    overflow: hidden;
}
.pic{
    position: relative;
    height: 250px;
    box-shadow: 3px 3px 4px lightgray;
    cursor: pointer;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.gallery_img1{
    grid-area: gallery1;
}
.gallery_img2{
    grid-area: gallery2;
}
.gallery_img3{
    grid-area: gallery3;
}
.gallery_img4{
    grid-area: gallery4;
}

/*  //////////////// image before */
.gallery_img1::before{
    content: "Vivienda SG";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.gallery_img2::before{
    content: "Hotel Wyndham";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.gallery_img3::before{
    content: "Vivienda MM";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.gallery_img4::before{
    content: "Vivienda LT10";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

/*  //////////////// image after */
.pic::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}
.pic:hover:after{
    height: 100%;
}
.pic:hover:before{
    margin-top: 0;
    opacity: 1;
}



/* ========================== Media Queries */
@media screen and (max-width: 992px){

    /* ////// Desktop none - Mobile block */
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}