:root{
    --logo-tipo:'Poppins', sans-serif;
    --montserrat:'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////// Desktop none - Mobile block */
.desktop{
    display: block;
}
.mobile{
    display: none;
}


/* /////////////////////// Navbar */
.header{
    width: 100%;
}
.navbar{
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding: 0;
}
.navbar_container{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    box-shadow: 0px 3px 7px 0px rgb(198 198 198 / 75%);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
}
.navbar-toggler{
    border: none;
    font-size: 1rem;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     padding: 0;
 }
 .logo_icon{
     width: 200px;
     height: auto;
 }
.nav-item{
    margin-left: 10px;
}
.nav-link{
    font-family: var(--montserrat);
    font-weight: 400;
    color: #000 !important;
}
.nav-link:hover{
    font-weight: 500;
}
.active{
    font-weight: 500;
}

/* //////////////////////  Gallery */
/* .gallery_container{
    margin: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "gallery1 gallery2"
    "gallery3 gallery4"
    ;
    gap: 20px;
} */
.container_proyect{
    margin-top: 5rem;
}
.gallery_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 3rem;
}

.image_container{
    position: relative;
    width: 49%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    border: 2px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.image_img{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    font-family: var(--montserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image_overlay-solid{
    background: #fff;
}
.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image_overlay:hover{
    opacity: 1;
}
.image_overlay:hover > *{
    transform: translateY(0);
}
.image_title, .title_newproyect{
    font-size: 1.5em;
    font-weight: 400;
    color: #000;
    font-family: var(--montserrat);
}
.icon_newproyect{
    margin-bottom: 1rem;
    font-size: 4rem;
    color: rgb(73, 73, 73);
    text-decoration: none;
}
.newproyect{
    background-color: rgb(236, 236, 236);
}

/* /////////////////////////// Footer */
.about_copy-text{
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: .8em;
    line-height: 1.6em;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #333;
}

/*  copy blue producciones */
.blue_container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}
.blue_container a{
text-decoration: none;
}
.blue_text{
    background: #F3F1F5;
    color: #7F7C82;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.13),
    -5px -5px 5px 0px rgba(255, 255, 255, 0.68);
    transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ;
}
.blue_text:hover{
    background: #091353;
    color: #B2F9FC;
}


/* ========================== Media Queries */
@media only screen and (min-width: 768px){
    .navbar_container{
        padding: 0 3rem;
    }
}
@media screen and (max-width: 992px){

    /* ////// Desktop none - Mobile block */
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .logo_icon {
        width: 140px;
    }

    .navbar_container{
        box-shadow: 0px 3px 7px 0px rgb(198 198 198 / 75%);
        -webkit-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
        -moz-box-shadow: 0px 3px 7px 0px rgba(198,198,198,0.75);
    }
    .gallery_container{
        flex-direction: column;
        margin-top: 2rem;
    }
    .image_container{
        width: 100%;
    }
    .about_copy{
        margin-top: 1rem;
    }
    .blue_text{
        font-size: .7em;
    }
}

@media screen and (max-width: 768px){

}
@media screen and (max-width: 500px){
    .gallery_container{
        margin: 2rem 0 0;
    }
    .about_copy-text{
        font-size: .6em;
    }
}

